body{
    background-color: #000;
    font-family: 'helvetica';
}

h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

h2, h4{
    color: #fff;
}

a{
    color: #ff00ff;
    text-decoration: none;
    font-size: 20px;
}

form{
    width: 50%;
    margin: 0 auto;
    display: block;
}

form label{
    color: #fff;
    font-size: 20px;
    display: block;
}

form input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

form textarea{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

form input[type="submit"]{
    background-color: #ff00ff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.mensagem{
    color: #ff00ff;
    text-align: center;
    border: 2px dashed #ff00ff;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

.voltar{
    text-align: center;
    margin-top: 20px;   
}

.voltar a{
    padding: 10px;
    background-color: #ff00ff;
    border: 2px solid #d00023;
    color: #fff;
}

.noticia{
    color: #fff;
    border: 2px dashed #ff00ff;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}